* {
    font-family: arial;
}

body, html {
    margin: 0;
    top:0;
    left: 0;
    bottom:0;
    right: 0;
}

.MAIN {
    margin: 0 auto;
    border: solid 2px #e4e4e4;
    border-radius: 5px;
    width:290px;
    height: 270px;
}

.top {
    height: 95px;
    background-image: url('http://i.imgur.com/EwCT9HY.png');
    border-radius: 5px 5px 0px 0px;
}

.topIcon {
    position: relative;
    height: 75px;
    width: 75px;
    background: url('./img/1885.jpg');
    border-radius: 10px;
    top: 57px;
    left: 12px;
}

.mid {
    height: 100px;
    background: #ffffff;
}

.midText {
    position: relative;
    left:38%;
    top:10%;
}

.midStats {
    position: relative;
    top: 20%;
    display: table;
    height: 95%;
    width: 100%;
}

.bottom {
    height: 75px;
    background: #f5f8fa;
    border-top: 1px solid #ccd6dd;
    border-radius: 0px 0px 5px 5px;
}

.bottomText {
    line-height: 1.6;
    position: relative;
    top: -1%;
    left: 8%;
    width: 90%;
}

.bottomArrow {
    position: relative;
    width: 0;
    height: 0;
    left:191px;
    top: -8px;
    border-left:8px solid transparent;
    border-right:8px solid transparent;
    border-bottom: 8px solid #f5f8fa;
}


.bottomArrow:before {
    border-color:#ccd6dd;
    border-bottom-color:#f5f8fa;
    border-width:10px;
    margin-left: -10px;
}

.bottomArrow:after {
    border-color:#ccd6dd;
    border-bottom-color:#f5f8fa;
    border-width:10px;
    margin-left: -10px;
}

span.bottomTextAddOn {
    margin: 0;
    color: blue;
    font-weight: 100;
    font-size: 12px;
}

span.bottomTextGain {
    margin: 0;
    font-weight: 800;
    font-size:14px;
}

h2 {
    margin: 0;
    font-size: 22px;
}

h3 {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
}

h4 {
    margin: 0;
    font-size: 11px;
    text-transform: uppercase;
    padding-left:10px;
    color: #8899a8;
}

h5 {
    margin: 0;
    font-size: 18px;
    padding-left: 10px;
    color: #0084b4;
}

ul {
    list-style: none;
    list-style-type: none;
    display: table-row;
}

li {
    margin: 0;
    padding: 0;
    list-style-type: none;
    list-style-position: inside;
    display: table-cell;
}